<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="login-form">
    <form [formGroup]="loginForm" >
        <div >
        	<img class ="img" src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Logo_Gobierno_de_Espa%C3%B1a.png" >
        </div>
        <h4 class="text-center">Iniciar sesión</h4>
        <div class="form-group has-error">
        	<input type="text" class="form-control" formControlName="ident" placeholder="DNI / Pasaporte / NIE" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" formControlName="cred" placeholder="Clave" required="required">
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="authUser()">Entrar</button>
        </div>
        <!--  <p><a href="#">Lost your Password?</a></p>-->
    </form>
    <p class="text-center small">Copyright @ Ramón Cigüenza Fuster <a href="https://www.linkedin.com/in/rcifuster/">link Linked In</a></p>
</div>
</body>
</html> 